* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 /* login page style started */

 .background-image{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
 }
 .overlay-image{
  padding-top: 350px;
 }

   /* Media queries for responsiveness for login page */

   @media (max-width: 768px) {

    .background-image{
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .overlay-image{
      display: none;
    }
    }
/* login page style ended */
 
/*  navbar and footer style started  */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: rgb(139, 134, 134);
}
  .navbar{
    background-color: rgb(197, 192, 185);
  }
  footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    margin-top: 260px;
  }
  
  footer p > span {
    color: #ff512f;
  }
  
  footer input {
    border: none;
  }
  
  footer input::placeholder {
    color: white;
  }
  
  footer .input-group .input-group-text {
    background:rgb(184, 76, 76);
    border: none;
  }
  
  footer .column i {
    color: #dd2476;
  }
  /*  navbar and footer style ended  */

/*  picture for first year page and second year page  style started */
.cover {
    width: 100%;
    height: 55vmin;
    background: url("imgs/my3.jpg");
    background-position: -24rem -19rem;
    background-size: 160vmin;
  }
  /*  picture for first year page and second year page  style ended*/

  /*  content on the pic for first year page and second year page  style started*/
  .cover .content {
    width: 100%;
    height: 100%;
    background: rgba(136, 132, 132, 0.7);
    padding-top: 19vmin;
  }
  
  .cover .content > h1 {
    font-size: 6vmin;
    color: rgb(60, 58, 58);
  }
  
  .cover .content > p {
    font-size: 2vmin;
    color: #e5e5e5;
  }
  /*  content on the pic for first year page and second year page  style ended*/

   /*  rectangles that includes subjects for first year page and second year page  style started  */
  .numbers .rect {
    background: rgb(213, 214, 216);
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 2rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(12, 89, 205, 0.349);
  }
   /*  rectangles that includes subjects for first year page and second year page  style ended  */

  .questions{
    padding-left:30px
  }

  .question-1{
    padding-left: 25px;
    padding-top: 10px;
  }.question-2{
    padding-left: 25px;
    padding-top: 10px;
  }.question-3{
    padding-left: 25px;
    padding-top: 10px;
  }.question-4{
    padding-left: 25px;
    padding-top: 10px;
  }
  .question-5{
    padding-left: 25px;
    padding-top: 10px;
  }


  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #40b946;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
    
  }
  .dropdown-forsignup{
   color: #474e5d;
  } 